{% extends 'base.html.twig' %}
{% block title %} Home {% endblock %}
{% block body %}

<h1 class="text-white">{% trans %}home{% endtrans %}</h1>
{# Translation depuis un fichier autre que messages.fr_FR.yaml #}
{# <h1 class="text-danger">{{ 'my message'|trans({}, 'home', 'fr')}}</h1> #}
{% endblock %}