{% extends 'base.html.twig' %}
{% block title %}Show more{% endblock %}

{% block body %}
<h1 class="text-white">{{wallet.name}}</h1>
<h1 class="text-white">{{wallet.apiKey}}</h1>
<h1 class="text-white">{{wallet.secretKey}}</h1>
{% endblock %}