// image min-max size
.imageSize {
    height: 100%;
    width: 100%;
    min-height: 50px;
    min-width: 50px;
    max-height: 140px;
    max-width: 140px;
}

// image min-max size on mobile
@media only screen and (max-width: 992px) {
    .imageSize {
        min-height: 50px;
        min-width: 50px;
        max-height: 90px;
        max-width: 90px;
    }
}