// nav link color / hover color
$navbar-dark-hover-color: #FFBD0A;
$navbar-dark-color: white;

// bar under nav link settings
.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

// bar under nav link color
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: #FFBD0A;
}

// bar under active page
.nav-masthead .active {
    border-bottom-color: #FFBD0A;
}

#loginButton {
    color: white;
    background-color: #353535;
    border-color: #373737;
    font-weight: 700;
}

#loginButton:hover {
    background-color: #404040;
}

#registerButton,
#logoutButton {
    font-weight: 700;
}

// hamburger navbar style while expanded
.navbar.expanded {

    // clear loginButton background while expanded
    #loginButton {
        background-color: transparent;
        border-color: transparent;
    }
}

// .navbar.expanded .navbar-collapse {
//     background-color: blue;
// }