.walletCustomFieldset {
    max-width: 500px;
}

.walletCustomTable {
    min-height: 200px;
    max-height: 200px;
    overflow-y: hidden;
    transition: all 0.7s ease-in-out;
}

// <property> <duration> <timing-function> <delay>
.rotateSVG {
    transition: all 0.2s ease-in-out 0s;
}

#updateButton {
    max-width: 500px;
}

// unblur icon after resizing
.customIcon {
    height: 32px;
    width: 32px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}