.walletCustomFieldset {
    max-width: 500px;
}

.walletCustomTable {
    min-height: 200px;
    max-height: 200px;
    overflow-y: hidden;
    transition: all 0.7s ease-in-out;
}

// <property> <duration> <timing-function> <delay>
.rotateSVG {
    transition: all 0.2s ease-in-out 0s;
}

#updateButton {
    max-width: 500px;
}