{% extends 'base.html.twig' %}
{% block title %}{{ 'error404.title'|trans({}, 'error')}}{% endblock %}
{% block body %}
    <h1>{{ 'error404.h1'|trans({}, 'error')}}</h1>

    <p>
        {{ app.request.uri }} {{ 'error404.description'|trans({'%link%' : url('home')}, 'error')|raw}}
    </p>
{% endblock %}